.DS_Store
/target
__pycache__/

scripts/runs/**
scripts/results/**
references/**
queries/**
saves/**

# But keep the folders
!.gitkeep
# !references/.gitkeep
# !saves/.gitkeep
# !queries/.gitkeep
# !scripts/runs/.gitkeep
# !scripts/results/.gitkeep

